<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'edit_profile.css' %}"> 
    <title>Editar Perfil</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="edit-profile-container">
        <h1>Editar Perfil</h1>
        <form method="POST" enctype="multipart/form-data" class="edit-profile-form">  
            {% csrf_token %}
            <label for="username">Nome de Usuário:</label>
            <input type="text" name="username" id="username" value="{{ user.username }}" required placeholder="Nome de Usuário">
            
            <label for="description">Descrição:</label>
            <textarea name="description" id="description" required placeholder="Descrição">{{ user.description }}</textarea>
            
            <label for="profile_picture">Trocar Foto de Perfil:</label>
            <input type="file" name="profile_picture" id="profile_picture">

            <button type="submit" class="edit-profile-btn">Salvar Alterações</button>
        </form>
        <a href="{% url 'perfil' %}" class="btn">Voltar ao Perfil</a>
    </div>
</body>
</html>
