<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <title>Projetos</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-900 py-6 sm:py-12">
        <div class="inline-flex"> 
            <div class="font-bold text-4xl text-white mx-6 -my-1">Projetos</div>
            <div class="bg-gray-700 h-9 w-60 rounded-xl inline-flex hover:border transition-all">
                <div class="m-2 h-5 w-5 rounded-full bg-slate-400 opacity-35"></div>
                <div class="text-gray-400 text-center m-1">Procure um projeto</div>
            </div>
            <div class="bg-gray-900 border borde h-9 rounded-xl inline-flex hover:border transition-all mx-6">
                <div class="text-white text-center m-1">Filter</div>
            </div>
            <a href="{% url 'adicionar_projeto' %}" class="bg-green-500 text-white h-9 rounded-xl inline-flex items-center px-4 hover:bg-green-400 transition-all mx-2">
                Adicionar Projeto
            </a>
        </div>
        <div class="grid gap-6 p-6 sm:grid-cols-2 md:grid-cols-4">
        {% for projeto in projetos %}
            <div class="rounded-xl bg-gray-800">
                <div class="m-2 h-44 rounded-xl bg-gray-600"></div>
                <div class="m-2 font-bold text-white">{{ projeto.titulo }}</div>
                <div class="inline-flex">
                    <div class="m-2 my-0.5 h-5 w-5 rounded-full bg-slate-400"></div>
                    <div class="text-gray-400 transition-all hover:scale-105 hover:cursor-pointer hover:text-white">{{ projeto.usuario.username }}</div>
                </div>
                <div class="m-2 h-8 rounded-xl bg-gray-700 transition-all active:scale-95 hover:cursor-pointer hover:bg-green-400">
                    <a href="{% url 'projeto_detalhes' projeto.id %}" class="p-1 text-center font-semibold text-white transition-all hover:font-bold">Ver mais</a>
                </div>                              
            </div>
        {% endfor %}
    </div>
</body>
</html>
